div {
    padding:5px;
}

.textFieldContainer {
    display:flex;
    flex-direction: column;
}

.textFieldDivs {
    padding-bottom: 15px;
}

.UserDetailsTable{
width: 100% !important;
}

.UserDetailsTableHead th {
    background-color: black;
    color: white !important;
}

.CreateUpdateUserFormFields {
width:100%;
}

.main-div {    width: 100%;    text-align: right;
}